
@{
    ViewBag.Title = "soruekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Soru Ekle</h2>

<div>

  
</div>


<form class="form-control" method="post">

    <div>
        <label>Soru Ekle</label>
        <input type="text" name="Sorular" class="form-control" />
    </div>

    <div style="margin-top:10px">
        <button class="btn btn-success">Soru Ekle</button>

    </div>



</form>
