USE [PspPrl]
GO
/****** Object:  Table [dbo].[Table_Soru]    Script Date: 5.05.2023 22:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Soru](
	[Soruİd] [smallint] IDENTITY(1,1) NOT NULL,
	[Sorular] [varchar](50) NULL,
 CONSTRAINT [PK_Table_Soru] PRIMARY KEY CLUSTERED 
(
	[Soruİd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
